<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
  <title>User Form</title>
</head>
<body>
  <h1>User Form</h1>
  <form action="/users" method="POST">
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" name="fullName" required><br><br>
    <label for="stateOfOrigin">State of Origin:</label>
    <input type="text" id="stateOfOrigin" name="stateOfOrigin" required><br><br>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" required><br><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br><br>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" required><br><br>
    <button class="sub" type="submit">Submit</button>
  </form>
</body>
</html>
